<div th:fragment = "fragment" class="container-fluid overflow-scroll my-scrollbar">
    <div class="row flex-nowrap">

        <div th:each="book: ${books}" class="col">
            <div  class="card" style="width: 12rem;height: 100%;">
                <img class="card-img-top p-3" th:src="@{${book.image}}" alt="Card image cap">
                <div class="card-body" style="display: flex;flex-direction: column;justify-content:space-between;">

                    <div>
                        <p style="color: #266dd3;font-weight: 650; font-size: 18px;" class="card-title" th:text="${book.name}"/>
                        <span style="font-weight: 510; font-size: 16px;" th:text="${book.author.name}"/><br/>

                    </div>

                    <div>
                        <span class="ml-0">
                            <div th:if="${book.review_count != 0}">
                                <th:block th:each="i: ${#numbers.sequence(0, (book.star/book.review_count) -1 )}">
                                    ⭐
                                </th:block>
                            </div>
                             <div th:unless="${book.review_count != 0}">
                                 No Reviews yet
                            </div>
                        </span>
                        <h6 class="card-title" th:text="'Price: TK. '+${book.price}"/>
                        <div class="d-grid gap-2">
<!--                            <a th:href=<%= "/books/"+books[i].BOOK_ID %> class="btn btn-warning">-->
                            <a th:href="@{'books/'+${book.bookId}}" class="btn btn-warning">
                            <i class="bi bi-book-half"></i>
                            VIEW BOOK
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>