<div th:fragment = "fragment" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" style="background-color: black" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <th:block th:each="i: ${#numbers.sequence(1,4)}">
            <button type="button" style="background-color: black" data-bs-target="#carouselExampleIndicators" th:data-bs-slide-to="${i}" th:aria-label="'Slide '+${i+1}"  ></button>
        </th:block>
<!--        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{${carousalImages[0]}}" class="d-block w-100" alt="...">
        </div>
        <th:block th:each="i: ${#numbers.sequence(1,4)}">
            <div class="carousel-item" >
                <img th:src="@{${carousalImages[i]}}" class="d-block w-100" alt="...">
            </div>
        </th:block>
    </div>
    <button style="background-color: #ced4da" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button style="background-color: #ced4da" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span  class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>